.crew {
    color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    overflow: hidden;
}
.crew-og {
    color: white;
    width: 100vw;
    height: fit-content;
    gap: 5%;
    background-image: url('../../../../../img/bg-crew.jpg');
    background-size: cover;

}
.crew-og h3{
    padding-top: 3%;
    text-align: center;
    width: 500px;
    padding-bottom: 5%;
    /* padding-left: 15%; */
}

@media screen and (min-width: 1440px) {
    .crew-og h3{
        padding-top: 3%;
        text-align: center;
        width: 500px;
        padding-left: 16.2%;
    }
}

@media screen and (max-width: 425px) {
    .crew-og h3{
        padding-top: 3%;
        text-align: center;
        width: 300px;
        padding-left: 16.2%;
    }
}