.navbar {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    opacity: 25;
    padding-top: 15px;
    flex-wrap: wrap;
    backdrop-filter: blur(5px); 
}
.nav-left {
  display: flex;
  gap: 15%;
  align-items: center;
}
.nav-left img {
  width: 35px;
  height: 35px;
  padding-left: 7%;
}
.nav-links {
  align-items: center;
  list-style: none;
  height: 70px;
  width: auto;
  background: rgba(255, 255, 255, 0.064);
  padding-inline-end: 140px;
  padding-inline-start: 140px;
  display: flex; 
  justify-content: flex-end;
  gap: 40px;
  font-size: 0.7em;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 1440px) {
  .nav-links {
    align-items: center;
    list-style: none;
    height: 70px;
    width: auto;
    background: rgba(255, 255, 255, 0.064);
    padding-inline-end: 170px;
    padding-inline-start: 170px;
    display: flex; 
    justify-content: flex-end;
    gap: 40px;
    font-size: 0.7em;
  }
}
@media screen and (max-width: 425px) {
  .nav-left {
      flex-basis: 100%; 
      justify-content: center; 
  }

  .nav-links {
      flex-basis: 100%; 
      justify-content: center; 
      padding: 0; 
      gap: 10px;
      padding-inline-end: 45px;
      padding-inline-start: 45px;
  }
}